<footer>
    <div class="sub-footer">
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="copy-right"></div>
        <div class="privacy-terms"></div>
    </div>
</footer>