<!-- <footer>
    <div class="social-info-footer">
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="copy-right">&#169;2024 RentNest</div>
        <div class="privacy-terms">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->
<footer class="footer">
    <div class="container">
        <div class="row d-s-none">
            <!-- Social icons on the right and text on the left for large screens -->
            <div class="col-lg-6 d-flex align-items-center">
                <div class="social-info-footer">
                    <div class="copy-right">&#169;2024 RentNest</div>
                    <div class="privacy-terms ml-3">
                        <a href="/privacy" class="mr-2">Privacy</a>
                        <a href="/terms">Terms</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-lg-end align-items-center">
                <div class="social-info-footer">
                    <div class="social">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Responsive behavior for small screens -->
        <div class="row d-lg-none">
            <div class="col-12 text-center">
                <div class="social-info-footer">
                    <div class="social mb-2">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="copy-right mb-2">&#169;2024 RentNest</div>
                    <div class="privacy-terms">
                        <a href="/privacy" class="mr-2">Privacy</a>
                        <a href="/terms">Terms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
