<footer class="mt-auto">
    <div class="f-info">
        <div class="f-info-socials">
                    <a href="#" class="me-2"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="me-2"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="f-copyright">&#169;2024 RentNest</div>
            <div class="f-info-links">
                <div class="privacy-terms">
                    <a href="/privacy" class="me-2">Privacy</a> 
                    <a href="/terms">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>

