<footer class="bg-light py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-start mb-2 mb-md-0">
                <div class="social">
                    <a href="#" class="me-2"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="me-2"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center mb-2 mb-md-end">
                <div class="copy-right">&#169;2024 RentNest</div>
                <div class="privacy-terms">
                    <a href="/privacy" class="me-2">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>

